</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/images/Queen-City-Connect.png" alt="Queen City Connect Logo">
            </a>
            <nav class="site-nav">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/events">Events</a></li>
                </ul>
            </nav>
        </div>
        <nav class="user-nav">
            <ul class="nav-links">
                <% if (!user) { %>
                    <li><a href="/user/signup">Sign Up</a></li>
                    <li><a href="/user/login">Log In</a></li>
                <% } else { %>
                    <li><a href="/events/newEvent">New Event</a></li>
                    <li><a href="/user/logout">Log Out</a></li>
                    <li><a href="/user/profile"> <%= user.firstName %>'s Profile</a></li>
                <% } %>
            </ul>
        </nav>
    </header>

    <% if (errorMessages.length > 0) { %>
        <% errorMessages.forEach(message => { %>
            <div class='error'>
                <%= message %>
            </div>
        <% }); %>
    <% } %>

    <% if (successMessages.length > 0) { %>
        <% successMessages.forEach(message => { %>
            <div class='success'>
                <%= message %>
            </div>
        <% }); %>
    <% } %>
