</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/images/Queen-City-Connect.png" alt="Queen City Connect Logo">
            </a>
            <nav class="site-nav">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/events/newEvent">New Event</a></li>
                    <li><a href="/events">Events</a></li>
                </ul>
            </nav>
        </div>
        <nav class="user-nav">
            <ul class="nav-links">
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
    </header>
