<%- include('./partials/header.ejs') %>
<title>About Us</title>
<link rel="stylesheet" href="/css/events/index.css">
<%- include('./partials/nav.ejs') %>

<main>
    <section class="about">
        <h1>About Queen City Connect</h1>
        <p>Queen City Connect is your hub for discovering and organizing meetups and events in the Queen City. Whether you're looking to connect with professionals, join a hobby group, or attend local gatherings, we've got you covered!</p>
    </section>
</main>

<%- include('./partials/footer.ejs') %>