<%- include('./partials/header.ejs') %>
<title>Contact Us</title>
<link rel="stylesheet" href="/css/events/index.css">
<%- include('./partials/nav.ejs') %>

<main>
    <section class="contact">
        <h1>Contact Us</h1>
        <p>If you have any questions or need assistance, please reach out to us at:</p>
        <p>Email: support@queencityconnect.com</p>
        <p>Phone: (123) 456-7890</p>
    </section>
</main>

<%- include('./partials/footer.ejs') %>